
.container{
    margin-left:8%;
    max-width:1140px;
    width: 100%;
    padding:0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.cardModel{
    margin: 0;
    padding: 0%;
    max-width: 540px;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    
}

.cardModel__img{
    width:100%;
}

.cardModel__text{
    display:flex;
    flex-direction: column;
    text-align: left;
    border-left: 1px solid #fa573a;
    border-right: 1px solid #fa573a;
    border-bottom: 1px solid #fa573a;
    padding: 15px;
}

.cardModel__maintitle{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

.cardModel__subtitle{
    color:#fa573a;
    margin-top: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardModel__paragraph{
    color: #666;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0%;
}

.button{
    border:none;
    text-decoration: none;
    margin-bottom: 10px;
    color:#fa573a;
}


.button:hover i{
    padding-left: 4px;
    transition: .3s linear all;
}

.button__text{
    font-size: 16px;
    font-weight: bolder;
    margin-right:2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.socialNet{
    width:35%;
    display:flex;
    justify-content:space-between;
    padding-top: 13px;
}


.socialNet__like{
    color:#666;
    text-decoration: none;
}
.socialNet__like:hover{
    color:#fa573a;
    transition: .3s linear all;
}

.socialNet__comment{
    color:#666;
    text-decoration: none;
}

.socialNet__comment:hover{
    color:#fa573a;
    transition: .3s linear all;
}

.socialNet__arrow{
    color:#666;
    text-decoration: none;
}

.socialNet__arrow:hover{
    color:#fa573a;
    transition: .3s linear all;
}

.sideCard{
    margin-left:2%;
    display: flex;
    flex-direction: column;

}

.card2{
    max-width:570px;
    width:100%;
    margin:0;
    padding: 0;
    display:flex;
    background-color: white; 
    position:relative;
    
}

.card2__img{
    width:100%;
}


.card2__text{
    margin-left:25px;
    
   
}

.card2__socialNet{
    width:50%;
    display:flex;
    justify-content:space-between;
    padding-top: 13px;
}

.card2__topic{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.card2__date{
    color:#fa573a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sideCard__linediv{
    margin:0;
    padding:0;
    margin-bottom:8%;
    padding-top: 2px;
}

.sideCard__line{
    margin:0;
}

@media(max-width:1181px){
    .cardModel{
        max-width:450px;
    }
    .card2{
        max-width:480px;
        
    }
    .card2__text{
        margin-left:25px;
        width:290px;
       
    }
    .card2__img{
        width:90%;
    }
    .card2__topic{
        font-size: 20px;
    }
    .card2__date{
        margin: 0 auto;
    }
    .card2__socialNet{
        width:55%;
        display:flex;
        justify-content:space-between;
        padding-top: 13px;
    }
   
}

@media(max-width:975px){
    .cardModel{
        max-width:330px;
    }
    .card2{
        max-width:300px;
        
    }
    .card2__text{
        margin-left:25px;
        width:210px;
       
    }
    .card2__img{
        width:90%;
    }
    .card2__topic{
        font-size: 15px;
    }
    .card2__date{
        margin: 0 auto;
        font-size: 16px;
    }
    .card2__socialNet{
        width:100%;
        display:flex;
        justify-content:space-between;
        padding-top: 13px;
        margin-top: 5px;
    }
    .button__text{
        font-size: 16px;
    }
   
    .socialNet{
        width:50%;
    }
}

@media(max-width:751px){
    .container{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .cardModel{
        max-width:510px;
        margin-bottom: 30px;
    }
    .card2{
        max-width:540px;
        
    }
    .card2__text{
        margin-left:25px;
        width:330px;
       
    }
    .card2__img{
        width:90%;
    }
    .card2__topic{
        font-size: 20px;
    }
    .card2__date{
        margin: 0 auto;
        font-size: 16px;
    }
    .card2__socialNet{
        width:50%;
        display:flex;
        justify-content:space-between;
        padding-top: 13px;
        margin-top: 5px;
    }
    .button__text{
        font-size: 16px;
    }
   
    .socialNet{
        width:35%;
    }
}

@media(max-width:558px){
    .container{
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .cardModel{
        max-width:528px;
        margin-bottom: 30px;
    
    }


    .card2{
        max-width:528px;
        
    }
    .card2__text{
        margin-left:25px;
        width:395px;
       
    }
    .card2__img{
        width:90%;
    }
    .card2__topic{
        font-size: 18px;
    }
    .card2__date{
        margin: 0 auto;
        font-size: 16px;
    }
    .card2__socialNet{
        width:55%;
        display:flex;
        justify-content:space-between;
        padding-top: 13px;
        margin-top: 5px;
    }
    .button__text{
        font-size: 16px;
    }
   
    .socialNet{
        width:35%;
    }
}