.comment {
    position: relative;
    background-color: #fafafa;
    padding-top: 58px;
    padding-bottom: 29px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-align: center;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: orangered;
    z-index: -5;
}
.comment__header { 
    height: 90px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 8px;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    letter-spacing: 7px;
    color: #151515;
}
.comment--h2 {
    margin: 0px;
}
.comment__rhombus {
    position: relative;
    top: -70px;
    left: 47%;
    width: 80px;
    height: 80px;
    border: solid 5px lightgray;
    transform: rotate(45deg);
    z-index: -1;
}
.comment__quote {
    position: relative;
    left: 12%;
    width: 75%;
    margin: 0px;
    font-size: 16px;
    color: #666666;
    line-height: 26px;
}
.comment__p {
    padding: 20px 168px 0;
    margin-bottom: 16px;
    margin-top: 0px;
}
.comment__start-quote {
    font-family: 'Minotaur', sans-serif;
    font-size: 75px;
    font-weight: bolder;
    margin: 0px;
    padding-top: 35px;
}

.comment__name {
    color: #212529;
    font-weight: bold;
    font-size: 26px;
    margin: 0px;
    margin-bottom: 8px;
}

.comment__extra {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    margin: 0px;
}

.comment__image {
    position: relative;
    left: 47%;
    height: 85px;
    width: 85px;
    background-image: url("https://www.sakibul.com/demos/html/apkly/demo/images/testimonial3.png");
    background-repeat: no-repeat;
    border: solid 3px orangered;
    border-radius: 45px;
    margin: 0px;
}