.containerprice { 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    justify-items: center;
    overflow: hidden;
}

.containerprice .plans {
    display: grid;
    grid-template-columns: minmax( 380px, 380px) minmax( 380px, 380px) minmax( 380px, 380px); 
    grid-gap: 2rem;
    text-align: center;
    align-items: center;

}   


.plancontent {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    align-items: center;
    overflow: hidden;
    position: relative;
}       

.containerprice .plan1 {
    display: grid;
    grid-template-columns: minmax( 380px, 380px) minmax( 380px, 380px) minmax( 380px, 380px); 
    grid-gap: 32px;
    text-align: center;
    align-items: center;

}

.titlep{
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

/* pruebas   */


.plan3 {
    overflow: hidden;
    position: relative;
}