
* {
    padding: 0px ;
    margin: 0px ;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";   
   
}

.containerprice {
    width: 100%;
    max-width: 1820px;
    height: 800px;
}

.containerprice > div {
    display: block;
    padding: 20px;
    background-color: #fff ;
}

.plancontent {
    height: 500px;
    background-color: #343a40 ;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;
    display: block;
    color: #fff;
    position: relative;
}

/*.containerprice .plans > div {
    height: 500px;
    background-color: #343a40 ;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;
    display: block;
    color: #fff;

}*/
.plan1 {
    position: relative;
}
.plan1::before {
    content: "hola";
    display: block;
    height: 100%;
    width: 100%;
    background-color: chartreuse;
    position: absolute;
   
}


/*.containerprice .plans .plan1 {
    height: 500px;
    background-color: #343a40 ;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;
    
}

.containerprice .plans .plan2 {
    height: 500px;
    background-color: #343a40 ;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;
}

.containerprice .plans .plan3 {
    height: 500px;
    background-color: #343a40 ;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;
}*/

.styleprice {
    color: #fa573a;
    font-size: 23px;
}

.containerprice .titleprice .titlep {
    text-align: center;
    position: relative;
    top: 20%;
    font-size: 30px;
   
}

.styleplan {
    color: ;
    font-size: 30px;
}

.buybottom{
    color: #fa573a;
    border: 1px solid #fa573a;
    padding: 14px 20px;
    border-radius: 50px;
    font-family: rb;
    text-decoration: none;
    transition: all linear .5s ;
}

.buybottom2{
    color: #fff;
    border: 1px solid #fa573a;
    background-color: #fa573a  ;
    padding: 14px 20px;
    border-radius: 50px;
    font-family: rb;
    text-decoration: none;
}

.buybottom:hover{
    color: #fff;
    border: 1px solid #fa573a;
    padding: 14px 20px;
    border-radius: 50px;
    font-family: rb;
    background-color: #fa573a
}

/*.buybottom::before {
    position: absolute;
    content: '';
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    width: 65px;
    height: 65px;
    background: none;
    border: 6px solid #dbdbdb;
    z-index: -1;
}*/
.titlep{
    position: relative;
}

.titlep::before {
    content: " " ;
    display: block ;
    width: 50px;
    height: 50px;
    border: solid 6px lightgray;
    transform: rotate(45deg);
    position: absolute;
  
    
}
