.containerprice{
  

    width: 100%;
    height: 850px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    border: solid ;

}

.plan1{
    width: 380px;
    height: 500px;
    background-color:#343a40 ;
    color: #fff ;
    position: absolute;
    line-height: ;
    left: 430px;
    bottom: 100px;

}

.plan2{
    width: 380px;
    height: 500px;
    background-color:#343a40 ;
    color: #fff ;
    position: absolute;
    line-height: ;
    right: 860px ;
    bottom: 100px;
    

}

.plan3{
    width: 380px;
    height: 500px;
    background-color:#343a40 ;
    color: #fff ;
    position: absolute;
    line-height: ;
    right: 430px;
    bottom: 300px;


}

.styleprice {
    color: #fd7e14;
}
